:root {
	--primary-color: #fdd935;
	--secondary-color: #0e9b4a;
	--tertiary-color: #643634;
	--charcoal: #36454F;
	--dark-charcoal: #333333;
	--rich-gray: #1f2022;
	/* Emerald green */
	--light-green: #50C878;
	--light-yellow: #F5E050;
	--sand: #E2CA76;
	--accent-color: #F55065;
	--accent-color: #F16667;
	--accent-color-brighter: #df3062;
	--accent-color-brighter: #F2003C;
	--nav-links-color: #825f1d;
	--nav-links-color: #75561a;
	--nav-links-color: rgba(101, 55, 20, 1);
	--overlay-text-color: #ffffff;
	--headings-mobile-font-size: 1.5rem;
	--headings-desktop-font-size: 3rem;
	--headings-desktop-font-size: 60px;
	--headings-mobile-font-weight: 500;
	--headings-desktop-font-weight: 500;
	--headings-desktop-font-weight: 900;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	scroll-behavior: smooth;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

html {
	scroll-behavior: smooth;
	--scroll-behavior: smooth !important;
	scroll-behavior: smooth !important;
	font-family: var(--font-playfair-display-italic);
	font-size: 16px;
}

body {
	color: var(--rich-gray);
	font-weight: 500;
	/* overflow-y:hidden; */
}

a {
	text-decoration: none;
}
