.features {
    width: 100%;
    margin: auto;
	scroll-margin: 84px;
}

.heading-wrapper {
	padding: 1rem 5%;
	text-align: center;
	margin: auto;
}

.heading {
	font-size: var(--headings-mobile-font-size);
	font-weight: var(--headings-mobile-font-weight);
	text-align: center;
	text-transform: uppercase;
	color: var(--tertiary-color);
}

.line {
	width: 80px;
	height: 3px;
	background-color: #de5935;
	background-color: var(--secondary-color);
	background-color: var(--accent-color-brighter);
	margin: 0 auto;
}

.card {
	height: 100%;
}

.animate .comments {
	background-color: #98FB98;
	background-color: #7ed5ea;
	background-color: #67F0EE;
}

.animate .bullhorn {
	background-color: #c4ffc6;
	background-color: #c97eea;
	background-color: #978ff3;
	background-color: #f7cd46;
}

.animate .users {
	background-color: #d5ea7e;
	background-color: #C87850;
	background-color: #de5935;
	background-color: var(--accent-color);
}

.icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	background-color: #1d1d2c;
	background-color: var(--dark-accent-color);
	border-radius: 50%;
	height: 160px;
	width: 160px;
	margin: auto;
}

.icon {
	font-size: 5rem;
	color: var(--primary-color);
}

.title {
	font-size: 1.5rem;
	text-align: center;
	font-weight: 700;
	color: var(--dark-accent-color) !important;
}

.description {
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--tertiary-color);
	color: var(--dark-accent-color);
}

@media only screen and (min-width: 768px) {
	.features {
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1200px) {
	.features {
		scroll-margin: 83px;
	}

    .heading-wrapper {
		padding: 1.25rem 7.5% 1.5rem 7.5%;
	}

	.heading {
		font-size: var(--headings-desktop-font-size);
		font-weight: var(--headings-desktop-font-weight);
	}

	.line {
		height: 4px;
	}

	.title {
		font-size: 2rem;
	}

	.grid {
		grid-auto-rows: 1fr;
	}

	.animate {
		height: 100%;
		display: flex;
	}

	.card {
		height: 100% !important;
	}
}
