.footer-section {
	scroll-margin: 83px;
}

.footer {
	margin-top: 2rem;
	color: var(--tertiary-color);
	color: var(--dark-accent-color);
	color: var(--accent-color);
	color: var(--overlay-text-color);
	background-color: var(--tertiary-color);
	background-color: var(--primary-color);
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-auto-rows: 1fr;
	height: 100%;
	width: 100%;
	gap: 4px;
}

.footer-item {
	height: 100%;
	background-color: var(--tertiary-color);
	background-color: var(--accent-color);
	background-color: var(--secondary-color);
}
.brand {
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.hiBee,
.iframe {
	width: 100%;
	height: 240px;
}

.iframe {
	height: 100%;
}

.logo {
	height: 50px;
	width: auto;
	align-self: center;
	background-color: var(--primary-color);
	border-radius: 8px;
}

.addresses {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
	padding-left: 7.5%;
}

.address,
.phone,
.copyright,
.menu__item,
.active {
	color: var(--primary-color);
}

.facebook,
.instagram {
	font-size: 2rem;
	color: var(--primary-color);
}

.navigation {
	padding: 0.5rem 0;
	background-color: var(--accent-color-brighter);
}

.navigation h4 {
	margin-left: 7.5%;
}

.navigation .nav-item {
	margin-left: 7.5%;
}

.icons-and-copyright {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
	padding: 1rem 7.5%;
	background-color: var(--accent-color-brighter);
}

.icons {
	display: flex;
	gap: 1rem;
}

.admin {
	color: var(--primary-color);
}

@media only screen and (min-width: 678px) {
	.footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.footer-item:nth-child(5) {
		grid-column: 1 / span 2;
	}
}

@media only screen and (min-width: 1340px) {
	.footer {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(9, 6vw);
	}

	.footer-item {
		width: 100%;
		height: 100%;
	}

	.iframe {
		height: 100%;
	}

	.footer-item:nth-child(1) {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 1;
		grid-row-end: 4;
	}

	.footer-item:nth-child(2) {
		grid-column-start: 4;
		grid-column-end: 9;
		grid-row-start: 1;
		grid-row-end: 7;
	}

	.footer-item:nth-child(3) {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 4;
		grid-row-end: 7;
	}

	.footer-item:nth-child(4) {
		grid-column-start: 1;
		grid-column-end: 4;
		grid-row-start: 7;
		grid-row-end: 10;
	}

	.footer-item:nth-child(5) {
		grid-column-start: 4;
		grid-column-end: 9;
		grid-row-start: 7;
		grid-row-end: 10;
	}

	.hiBee {
		width: auto;
		height: 100%;
	}

	.menu__item,
	.copyright {
		font-weight: 500;
	}
}
