.hero {
	width: 100%;
	background-color: var(--secondary-color);
	scroll-margin: 84px;
}

.hero-image-container {
	position: relative;
	width: 100%;
}

.hero-img {
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--primary-color);
	text-align: center;
	width: 90%;
	margin: auto;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	height: min-content;
	
}

.brand {
	font-size: 2rem;
	font-weight: 900;
}

.motto {
	font-weight: 400;
	color: var(--overlay-text-color);
}

@media only screen and (min-width: 768px) {
	.overlay {
		margin-top: -1rem;
	}

	.hero-img {
		height: 50vh;
	}

	.brand {
		font-size: 4rem;
	}

	.motto {
		font-size: 2rem;
		font-weight: 500;
	}
}

@media only screen and (min-width: 1200px) {
	.overlay {
		margin-top: -1.75rem;
	}

	.hero-img {
		height: 75vh;
	}

	.brand {
		font-size: 120px;
		font-size: 9.5rem;
		font-weight: 900;
	}

	.motto {
		font-size: 3rem;
		font-weight: 500;
	}
}
