.main {
	padding-top: 84px;
	min-height: 100vh;
}

.compound {
	scroll-margin: 83px;
}

.progress-bar {
  position: fixed;
  top: 84;
  left: 0;
  right: 0;
  height: 6px;
  background: var(--accent-color);
  background: var(--tertiary-color);
  background: #64344A;
  background: var(--secondary-color);
  background: #EB3939;
  background: #df3062;
  background: var(--accent-color-brighter);


  transform-origin: 0%;
  z-index: 1000000;
}
