.main {
	padding-top: 84px;
	min-height: 100vh;
}

.compound {
	scroll-margin: 83px;
}

.progress-bar {
  position: fixed;
  top: 84;
  left: 0;
  right: 0;
  height: 3px;
  background: var(--accent-color);
  background: #64344A;
  background: var(--secondary-color);
  background: #EB3939;
	background-color: #0f0c24;
	background-color: black;
	background-color: #211221;
	background-color: #0f0c24;
  background-color: var(--dark-accent-color);
  background-color: #122112;
  background: var(--accent-color-brighter);
  background-color: #c1436d;
  background: #df3062;
  background: #11abc1;
  background: #4bac3f;
  background: #487af1;
  background: #487afa;
  background: #ffb600;
  background-color: #3B5F86;
  background: #fa255e;
  background-color: #5ebec4;
  background-color: #2568fb;
  background: var(--secondary-color);
  background: #ff6a3d;
  background: #bd1e51;
  background: #3fd2c7;
  background: #1ba098;
  background: #3cbcc3;
	background-color: #333333;
  background-color: var(--rich-gray);
  transform-origin: 0%;
  z-index: 1000;
}

@media only screen and (min-width: 1200px) {
  .progress-bar {
    height: 6px;
  }
}
