.program-section {
	width: 90%;
	margin: auto;
	scroll-margin: 83px;
	font-weight: 500;
}

.heading-wrapper {
	padding: 1rem 0;
	margin: auto;
}

.heading {
	color: var(--tertiary-color);
	text-align: center;
	text-transform: uppercase;
	font-size: var(--headings-mobile-font-size);
	font-weight: var(--headings-mobile-font-weight);
}

.line {
	width: 80px;
	height: 3px;
	background-color: var(--secondary-color);
	background-color: var(--dark-charcoal);
	background-color: var(--accent-color-brighter);
	margin: 0 auto;

}

@media only screen and (min-width: 768px) {
	.program-section {
		width: 85%;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 1200px) {
	.program-section {
		width: 85%;
	}

	.heading-wrapper {
		padding: 1.25rem 0 1.5rem 0;
	}

	.heading {
		font-size: var(--headings-desktop-font-size);
		font-weight: var(--headings-desktop-font-weight);
	}

	.line {
		height: 4px;
	}

	.program {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr;
		gap: 3rem;
	}

	.left p,
	.right p {
		text-align: justify;
		font-weight: 500;
		font-size: 1rem;
	}
}
