.team {
	width: 100%;
	margin: auto;
	scroll-margin: 83px;
}

.heading-wrapper {
	padding: 1rem 5%;
	text-align: center;
	margin: auto;
}

.heading {
	font-size: var(--headings-mobile-font-size);
	font-weight: var(--headings-mobile-font-weight);
	color: var(--tertiary-color);
	text-align: center;
}

.line {
	width: 80px;
	height: 3px;
	background-color: #a9ba9d;
	background-color: #a77c92;
	background-color: var(--secondary-color);

	margin: 0 auto;
}

.card {
	height: 100%;
	/* background-color: aquamarine; */
}

.image-container {
	background-color: var(--secondary-color);
	background-color: var(--accent-color);
	background-color: var(--dark-accent-color);
	background-color: #644E34;
	background-color: #4A6434;
	background-color: var(--tertiary-color);
	background-color: #346264;
	background-color: #7ca791;


	width: 100%;
}

.card-body {
	background-color: #cae7df;
}

.read {
	margin-left: 0.25rem;
	cursor: pointer;
	color: var(--secondary-color);
	color: var(--nav-links-color);
	color: var(--accent-color);
	color: var(--tertiary-color);
	color: var(--overlay-text-color);
	font-weight: 500;
	background-color: var(--secondary-color);;
	background-color: var(--accent-color);
	padding: 0.35rem 0.75rem;
	align-self: center;
	/* border-radius: 100px; */
	font-size: 1rem;
	border: none;
}

.title {
	font-weight: 600;
}

.position,
.description  {
	font-weight: 500;
}

@media only screen and (min-width: 1200px) {
	.team {
		width: 85%;
	}

	.heading-wrapper {
		padding: 1rem 5% 1.5rem 5%;
	}

	.heading {
		font-size: var(--headings-desktop-font-size);
		font-weight: var(--headings-desktop-font-weight);
	}

	.line {
		height: 4px;
	}
	.grid {
		grid-auto-rows: 1fr;
	}

	.animate-card {
		height: 100%;
		display: flex;
	}
	
	.card {
		height: 100%;
	}
}
