.team {
	width: 100%;
	margin: auto;
	scroll-margin: 83px;
}

.heading-wrapper {
	padding: 1rem 5%;
	text-align: center;
	margin: auto;
}

.heading {
	font-size: var(--headings-mobile-font-size);
	font-weight: var(--headings-mobile-font-weight);
	color: var(--tertiary-color);
	text-align: center;
	text-transform: uppercase;
}

.line {
	width: 80px;
	height: 3px;
	background-color: var(--accent-color-brighter);
	margin: 0 auto;
}

.card {
	height: 100%;
	width: 100%;
}

.image-container {
	background-color: var(--dark-charcoal);
	width: 100%;
}

.card-body {
	background-color: var(--sand);
}

.read {
	margin-left: 0.25rem;
	cursor: pointer;
	color: var(--overlay-text-color);
	font-weight: 500;
	background-color: var(--secondary-color);
	border: none;
	padding: 0.35rem 0.75rem;
	align-self: center;
	border-radius: 50px;
	font-size: 1rem;
}

.title {
	font-weight: 600;
}

.position,
.description {
	font-weight: 500;
}

@media only screen and (min-width: 768px) {
	.team {
		width: 85%;
	}
	.grid {
		grid-auto-rows: 1fr;
	}
	.animate-card {
		height: 100%;
		display: flex;
	}

	.card {
		height: 100%;
	}
}

@media only screen and (min-width: 1200px) {
	.heading-wrapper {
		padding: 1.25rem 5% 1.5rem 5%;
	}

	.heading {
		font-size: var(--headings-desktop-font-size);
		font-weight: var(--headings-desktop-font-weight);
	}

	.line {
		height: 4px;
	}
}
