.main {
	/* width: 90%;
	margin: auto; */
	font-weight: 500;
	width: 100%;
}

.activities-title {
	color: var(--tertiary-color);
	text-align: left;
	font-size: 1.25rem;
	font-weight: var(--headings-mobile-font-weight);
}

.activities-grid-container {
	display: flex;
	flex-direction: column-reverse;
}

.reading-bee-image-container {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #84edf5;
	background-color: #B8E8FC;
	background-color: #BFD8B8;
	background-color: #98DDCA;
	background-color: #66b2b2;
	background-color: var(--light-green);


}

.reading-bee-image {
	margin-left: 1rem;
}

.activities {
	color: var(--dark-accent-color);
	background-color: var(--accent-color-light);
	background-color: var(--accent-color);

	padding: 1rem;
}

.activity {
	display: flex;
	gap: 0.75rem;
	margin: 0;
}

.fa-square-check {
	font-size: 1.5rem;
	color: var(--primary-color);
	color: #84edf5;
	color: #B8E8FC;
	color: var(--dark-accent-color);
	color: var(--dark-charcoal);


}

@media only screen and (min-width: 768px) {
	.main {
		margin: 0 auto;
	}

	.activities-title {
		text-align: center;
	}
}

@media only screen and (min-width: 1200px) {
	/* .main {
		width: 85%;
	} */

	.activities-title {
		font-size: 2.5rem;
		text-align: center;
		margin-bottom: 1rem;
	}

	.activities-grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 1fr;
		gap: 0;
	}

    .animate,
	.animate-activities {
        height: 100%;
		width: 100%;
		display: flex;
    }

	.activities {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: last baseline;
		padding: 2rem 1rem;
		height: 100%;

	}

    .reading-bee-image-container {
        height: 100%;
    }

	.reading-bee-image {
		width: 100%;
		height: 100%;
		height: 384px;
		width: auto;
        margin-left: auto;
	}
}
